@model IEnumerable<MvcProject.Tbl_Leaves>

@{
    ViewBag.Title = "Leaves";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Leaves</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Approve", "Leaves", new {Operation="Approve", id=item.Lid }) 
            @Html.ActionLink("Reject", "Leaves", new {Operation="Reject", id=item.Id }) |
           @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
