<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <img alt="logo", src="~/Images/Logo.png", height="100" width="120" />
    @* HR Layout:Home-Content, Index-View,HR-Controller *@
   
    <table>
        <tr><td> @Html.ActionLink("Home","Index","HR")|
     @Html.ActionLink("Attendance","Attendance","HR")|
     @Html.ActionLink("Payslips","Payslips","HR")|
        </td>
            <td></td>
        </tr></table>
    <div>
        @RenderBody()
        <a href="~/Home">Home</a>
    </div>
</body>
</html>
