<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img alt="logo", src="~/Images/Logo.png", height="100" width="120" />
    @* Manager Layout: Home-Content, Index-View,Manager-Controller*@
    <table><tr><td>
    @Html.ActionLink("Home","Index","Manager")|
     @Html.ActionLink("Employees","Employees","Manager")|
     @Html.ActionLink("Leaves","Leaves","Manager")|
    </td>
     <td></td>
           </tr></table>
    <div>
        @RenderBody()
     <a href="~/Home">Home</a>

    </div>
</body>
</html>
