<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <img alt="logo", src="~/Images/Logo.png", height="100" width="120" />
    <div>
        @* UserHome Layout: Home-Content, Index-View,UserHome-Controller *@
        <table>
            <tr>
                <td>@Html.ActionLink("Home", "Index", "UserHome")|
                    @Html.ActionLink("Profile","Profile","UserHome")|
                    @Html.ActionLink("Leaves","leaves","UserHome")|
                    @Html.ActionLink("Payslips","Payslips","UserHome")|
                </td>
                <td></td>
            </tr>
            <tr></tr>
        </table>
        @RenderBody()
        <a href="~/Home">Home</a>
    </div>
</body>
</html>
