<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img alt="logo", src="~/Images/Logo.png", height="100" width="120" />
    @* WebAdmin Layout: Home-Content, Index-View,WebAdmin-Controller *@
    <table><tr><td>
    @Html.ActionLink("Home", "Index", "WebAdmin")|
    @Html.ActionLink("Employee", "Employee", "WebAdmin")|
    @Html.ActionLink("Manager", "Manager", "WebAdmin")|
    @Html.ActionLink("HR", "HR", "WebAdmin")|
    @Html.ActionLink("Attendance", "Attendance", "WebAdmin")|
    @Html.ActionLink("Payslips", "Payslips", "WebAdmin")|</td>
        <td></td>
           </tr></table>
    <div>
        @RenderBody()
        <a href="~/Home">Home</a>
    </div>
</body>
</html>
