<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
 @RenderSection("head",false)
</head>
<body>
    @*In Below action link home-content,Index-ActionMethod Name,Home-Controller NAme*@
     @Html.ActionLink("Home","Index","HR") |
    @Html.ActionLink("Attendance","Attendance","HR") |
    @Html.ActionLink("Payslips","Payslips","HR") 
    <br /><br />
    <br />
        @RenderBody()
    <br />
    <a href="~/Home/Index">Home</a> |
     <a href="~/UseHome/Index">UserHome</a> |
    <a href="~/WebAdmin/Index">WebAdmin</a> |
    <a href="~/Manager/Index">Manager</a>
    
    </body>
    </html>
