@model MvcProject.Tbl_Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tbl_Attendance</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tbl_Manager.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tbl_Manager.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SickLeaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SickLeaves)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrivilegeLeaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrivilegeLeaves)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FromDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
